<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Eco Living Website Template</title>
	<link rel="stylesheet" href="<?php echo base_url(''); ?>assets/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="<?php echo base_url(''); ?>index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul>
				<li class="selected">
					<a href="<?php echo base_url(''); ?>tugas">Home</a>
				</li>
				<li>
					<a href="<?php echo base_url(''); ?>subdivisions.html">Subdivisions</a>
				</li>
				<li>
					<a href="<?php echo base_url(''); ?>blog.html">Blog</a>
				</li>
				<li>
					<a href="<?php echo base_url(''); ?>about.html">About</a>
				</li>
				<li>
					<a href="<?php echo base_url(''); ?>contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>